* {
  padding: 0;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-sizing: border-box;
}

.hero {
  height: 100vh;
  width: 100%;
  background-color: #000;
  background-size: cover;
  background-position: center;
}

#navbar {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;
}

.logo {
  color: white;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}

span {
  color: #f90040;
}

#navbar ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}

.profile-link a {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f90040;
  border-radius: 50%;
  margin: 22px 10px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.profile-link a:hover {
  transform: scale(1.3);
  transition: 0;
}

#navbar ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}

#navbar ul li a:hover {
  color: #f90040;
  transition: 0;
}

#profile-link {
  background-color: #f90040;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  transition: transform 0;
}

#profile-link:hover {
  transform: scale(1.2);
}

#welcome-section {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
}

h1 {
  color: white;
  margin: 20px 0 20px;
  font-size: 75px;
}

h3 {
  color: white;
  font-size: 25px;
  margin-bottom: 50px;
}

h4 {
  color: #fcfc;
  letter-spacing: 2px;
  font-size: 20px;
}

.newslatter form {
  width: 300px;
  max-width: 100%;
  position: relative;
}

.newslatter form input:first-child {
  display: inline-block;
  width: 100%;
  padding: 14px 130px 14px 15px;
  border: 2px solid #f90040;
  outline: none;
  border-radius: 30px;
}

.newslatter form input:last-child {
  position: absolute;
  display: inline-block;
  outline: none;
  border: none;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: #f90040;
  color: white;
  box-shadow: 0 0 5px #000, 0 0 15px #858585;
  top: 6px;
  right: 6px;
}

.about {
  width: 100%;
  padding: 100px 0;
  background-color: #191919;
}

.about img {
  height: auto;
  width: 430px;
}

.about-text {
  width: 550px;
}

.main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h2 {
  font-size: 3.2rem;
  color: white;
}

.about h2 {
  color: white;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.about h5 {
  color: white;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 25px;
  text-transform: capitalize;
}

.about p {
  color: #fcfc;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}

button {
  background-color: #f90040;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0;
}

button:hover {
  background-color: transparent;
  border: 2px solid #f90040;
  cursor: pointer;
}

.projects {
  text-align: center;
  background-color: #080808;
  padding: 4rem 2rem;
}
/*
@media (max-width: 88px) {
  h2 {
    font-size: 2rem;
  }
}
*/
.project-img {
  height: calc (100% -6.8rem);
  width: 100%;
  object-fit: cover;
  display: inline;
}

.project-title {
  color: #000;
  background-color: #756ab6;
  padding: 2rem 0;
  margin: 0% 1%;
}

.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.contact-me {
  width: 100%;
  height: 290px;
  background-color: #191919;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.contact-me p {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
}

.contact-me .button-two {
  background-color: #f90040;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0;
}

.contact-me .button-two:hover {
  background-color: transparent;
  border: 2px solid #f90040;
  cursor: pointer;
}

footer {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: #101010;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer p:nth-child(1) {
  font-size: 30px;
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
}

footer p:nth-child(2) {
  color: white;
  font-size: 17px;
  width: 500px;
  text-align: center;
  line-height: 26px;
}

.profile-link {
  display: flex;
}

.end {
  position: absolute;
  color: #f90040;
  bottom: 35px;
  font-size: 14px;
}

@media (max-width: 767px) {
  header {
    padding: 10px;;
  }

  nav li {
    margin-right: 10px;
  }

  main {
    padding: 10px;
  }
}

@media (min-width: 768px) and (max-width:991px) {
  header {
    padding: 15px;
  }

  nav li {
    margin-right: 15px;
  }

  main {
    padding: 15px;
  }
}

@media (min-idth: 992) {
  header {
    padding: 20px;
  }

  nav li {
    margin-right: 20px;
  }

  main {
    padding: 20px;
  }
}
